@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés si nécessaire */
body {
	padding: 50px;
	font:
		14px "Lucida Grande",
		Helvetica,
		Arial,
		sans-serif;
}

a {
	color: #00b7ff;
}
